* {
  box-sizing: border-box;
}
.headerfatherstyle {
  width: 100%;
  height: 900px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
  background-color: black;
}
.navbar__container {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.leftnavstyle {
  display: flex;
  width: 50%;
  height: 80px;
}
.rightnavstyle {
  display: flex;
  width: 50%;
  height: 80px;
}
.iconstyle {
  display: block;
  width: 30%;
  text-decoration: none;
}
.leftnavfunc {
  display: flex;
  width: 100%;
  height: 80px;
  list-style: none;
  margin-top: 0px;
  justify-content: space-evenly;
}
.subnav {
  display: none;
}
.listfunc {
  display: block;
  width: 80%;
  height: 80px;
}

.listyle {
  display: flex;
  height: 80px;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.liofastyle {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: white;
  padding-top: 30px;
}
.astyle {
  display: block;
  text-decoration: none;
  margin-top: 15px;
}
/* fixme */
.containersubmenu {
  display: flex;
  width: min-content;
  height: 400px;
  margin-top: 480px;
}
.contaisub {
  position: absolute;
}
.activesubmenu {
  display: block;
  width: 200px;
  height: auto;
  background-color: white;
  list-style: none;
  border-left: 1px solid gray;
  padding-left: 10px;
}
.tittleSubnav {
  display: block;
  width: 190px;
  height: 30px;
  color: gray;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 0px;
}
.disble {
  display: none;
}
.rightnavstyle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightnavstyle a {
  display: block;
  width: 50px;
  color: aliceblue;
  font-size: 20px;
}
.inputlogin {
  display: block;
  width: 100px;
  height: 30px;
  color: green;
  margin-right: 30px;
}
.forminputlogin {
  display: block;
  position: relative;
}
.farther {
  position: relative;
  display: block;
  height: 1px;
}
.loginformstyle {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  position: absolute;
  background-color: white;
  position: absolute;
  margin-left: 1450px;
  margin-top: 70px;
  border-radius: 2%;
  position: fixed;
  z-index: 2;
  transform: translateY(4%);
  transition: all 0.12s ease-in-out;
}
.closepoit {
  display: flex;
  justify-content: right;
  color: gray;
}
.closepoit i {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.closepoit i:hover {
  background-color: rgb(105, 103, 103);
}
.scrollstyle {
  display: flex;
  width: 100%;
  height: 1px;
}
.namelog {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.namelog a {
  color: gray;
  text-decoration: none;
}
.showloginstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showloginstyle {
  display: block;
  width: 100%;
  height: 100px;
}
.showloginstyle label p {
  color: gray;
  font-size: 12px;
}
.forminputlogin {
  display: block;
  width: 100%;
  height: 40px;
}
.loginbuttonstyle {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  color: white;
  background-color: green;
  border: none;
}
.enable {
  display: none;
}
.scrolldisble {
  background-color: gray;
  width: 50%;
}
.scrollenble {
  width: 50%;
  background-color: green;
}
/* changelanguage */
.changelanguagetitle {
  display: flex;
  background-color: rgb(178, 228, 178);
}
.changelanguagetitle p {
  display: block;
  width: 90%;
  padding-left: 140px;
  color: white;
}
.changelanguagetitle i {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
}
.changelanguagetitle i:hover {
  background-color: gray;
}
.chosefrom {
  display: flex;
  flex-direction: column;
}
.chosefrom_language {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.chosefrom_language label {
  display: block;
  width: 80%;
  color: gray;
  font-size: 16px;
}
.chosefrom_language input {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 30px;
}
/*  */
.contentheadercontainer {
  display: flex;
  width: 40%;
  height: 500px;
  margin-top: 200px;
  margin-left: 400px;
  flex-direction: column;
  position: relative;
}
.gofbol_p p {
  color: aliceblue;
  font-size: 20px;
}
.poen_h h2 {
  color: aliceblue;
  font-size: 50px;
}
.groupsearchlink {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.acontaiver {
  display: flex;
  width: 70%;
  justify-content: left;
}
.acontaiver a {
  display: flex;
  height: 40px;
  width: 20%;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  z-index: 2;
}
.acontaivertow {
  display: flex;
  width: 45%;
  justify-content: left;
  z-index: 2;
}
.acontaivertow a {
  display: flex;
  height: 40px;
  width: 50%;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}
.searchcontainer {
  width: 100%;
  position: relative;
}
.searchstyle {
  display: block;
  width: 100%;
  height: 50px;
}
.searchiconloop {
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: -50px;
  margin-left: 700px;
  font-size: 20px;
  color: gray;
  padding-top: 15px;
  text-decoration: none;
}
.colorgreen {
  background-color: rgb(137, 209, 137);
}
.gbif-logo-svg {
  fill: white;
}
.logostyle {
  width: 30%;
  height: 40px;
  margin-top: 20px;
}
.acontaiverbackground {
  width: 70%;
  height: 40px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
  margin-top: -0px;
  z-index: 0;
}
.acontaivertowbackground {
  width: 45%;
  height: 40px;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  margin-top: 90px;
  z-index: 0;
}
